
.header{
  background-color: #0404B4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.examen{
  background-color: #F781F3;
}
.navegator{
  background-color: #FE642E;
}

.peus {
  background-color: #01DF01;
  height: 500px;
  padding-top: 50px;
  }

  .libreta{
    margin-top: -200px;
  }

.padding {
    padding-top: 100px;
    margin-left: 400px;
  }
.welcome{
  background-color: #8A0808;
}
.welcome2{
  background-color: #610B4B;
}
.column1{
  background-color: #04B4AE;
}
.column2{
  background-color: #688A08;
}
.column3{
  background-color: #B40486;
}

.pie{
  background-color: #BDBDBD;
}
.Passion {
  color: #FE2EC8;
  font-size: 40px;
}
.textimage {
  background-color: #000;
  color: #fff;
  font-size: 10px;
}

p {
  font-size: 10px;
}
